# Python
*.pyc
__pycache__/
*.py[cod]
*$py.class

# Entorno virtual
venv/

# Django
*.log
local_settings.py
db.sqlite3
db.sqlite3-journal

# Variables de entorno
.env
.env.local

# IDEs y editores
.vscode/
.idea/

# Archivos de medios y estaticos
media/
static/
staticfiles/

# Node modules (para tailwind)
node_modules/