{% extends 'base.html' %}

{% block title %}
   {% if object %}
       Editar Entrada - Diario de Gratitud
   {% else %}
       Nueva Entrada - Diario de Gratitud
   {% endif %}
{% endblock %}

{% block content %}
<div>
   <h2>
       {% if object %}
           Editar Entrada de Gratitud
       {% else %}
           Nueva Entrada de Gratitud
       {% endif %}
   </h2>
   <form method="post">
       {% csrf_token %}
       {{ form.as_p }}
       <button type="submit">Guardar entrada</button>
   </form>
</div>
{% endblock %}