<nav>
    <div>
        <a href="{% url 'home' %}">Diario de Gratitud</a>
    </div>
    <div>
        {% if user.is_authenticated %}
            <a href="{% url 'journal:entry_list' %}">Mis Entradas</a>
            <a href="{% url 'journal:entry_create' %}">Nueva Entrada</a>
            <a href="{% url 'users:profile' %}">Mi Perfil</a>
            <a href="{% url 'logout' %}">Cerrar Sesión</a>
        {% else %}
            <a href="{% url 'login' %}">Iniciar Sesión</a>
            <a href="{% url 'register' %}">Registrarse</a>
        {% endif %}
    </div>
</nav>